/****************** Globale ******************/
:root{
    --color1: #11aa0e; 
    --color2: white;
    --color3: #f4f4f4;
    --color4: #d8d8d8;
    --color5: black;
    --color6: #00d4ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-global {
    margin: 0;
}

.content {
    width: 100%;
    position: relative;
}

/****************** Navigation ******************/

.content .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--color4);
    overflow: hidden;
    display: block;
    left: 0;
    top: 0;
    border-left: 10px solid var(--color4);
    border-right: 10px solid var(--color4);
}

.navigation ul {
    height: 100%;
}

ul li {
    list-style: none;
    height: 50px;
}

ul li:hover {
    background: var(--color2);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

li:hover a {
    text-decoration: none;
    color: var(--color5);
}

li a {
    text-decoration: none;
    color: var(--color5);
    width: 100%;
    display: flex;
}

a #icon {
    line-height: 50px;
    min-width: 60px;
    text-align: center;
}

a .title {
    line-height: 55px;
}

/****************** globale header  **********************/
#header {
    height: 50px;
    width: 100%;
    display: flex;
    background: transparent;
    margin-bottom: 50px;
    justify-content: space-between;
}

#header .content-icon {
    display: flex;
    background: transparent;

}

.content-icon #icon {
    line-height: 50px;
    text-align: center;
}

.content-icon .title {
    line-height: 60px;
    font-size: 2rem;
    color: blue;
    text-transform: uppercase;
    margin-left: 5px;
}

/****************** Main ******************/

.main {
    position: absolute;
    left: 300px;
    min-height: 100vh;
    width: calc(100% - 300px);
    background: #00d4ff;
    padding: 30px 20px 10px 20px;
}

/****************** Pour la page Tâche ******************/

.card1 {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.card1 span {
    margin-left: 12px;
}

/********************* Permet de supprimer des tâches **********************/
.card1 #Suppression {
    position: absolute;
    right: 5px;
    background: transparent;
}

#Suppression button {
    border: none;
    background: transparent;
}

#form {
    background: transparent;
    height: 50px;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 75px);
    border-radius: 5px;
    
}

#form #button1, #form #button2 {
    position: absolute;
    top: 10px;
    z-index: 10;
    background: transparent;
    border: none;
    border-radius: 5px;
}

#form #button1 {
    left: 10px;
}

#form #button2 {
    right: 10px;
}

#form #edit {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    position: relative;
}
